<?xml version="1.0" encoding="utf-8"?>
<!--
 Copyright (C) 2013 The Android Open Source Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.glassgaze"
    android:versionCode="5"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <!-- For free-style voice trigger and voice menus. -->
    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
<!-- used for Junaio -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.compass"
        android:required="true" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />



    <application
        android:label="@string/app_name" > <!-- For using textureview -->



        <activity
            android:name=".ApiDemoActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name" > <!-- For using textureview -->


            <uses-library
                android:name="com.google.android.maps"
                android:required="false" />
        </activity>

        <service
            android:name=".AppService"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger" />
        </service>


        <activity
            android:name=".GazeDisplay.Demos.SimpleGazeList.GazeListActivity"
            android:exported="true"
            android:hardwareAccelerated="true" />

        <activity
            android:name=".GazeDisplay.Demos.GazeShow"
            android:exported="true"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".GazeLiveView.Demos.SnapShot"
            android:exported="true"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".GazeDisplay.DisplayActivity"
            android:exported="true" />
        <activity
            android:name=".GazeDisplay.Calibration"
            android:exported="true" />


        <activity

            android:name=".GazeLiveView.LiveViewActivity"
            android:exported="true" />
        <activity
            android:name=".GazeLiveView.Calibration"
            android:exported="true" />
        <activity
            android:name=".GazeLiveView.Calibration_offset"
            android:exported="true" />
        <activity
            android:name=".EXPERIMENT.Activity_CalibEX"
            android:exported="true" />

        <activity
            android:name=".EXPERIMENT.Sampling_Scene"
            android:exported="true" />


        <service
            android:name=".WifiService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name=".WifiService.BIND" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.github.barcodeeye.scan.CaptureActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:stateNotNeeded="true"
            android:theme="@style/CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.github.barcodeeye.scan.ResultsActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:stateNotNeeded="true"
            android:theme="@style/CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>



        <!-- Junaio Start screen -->
        <activity
            android:name=".GazeDisplay.Demos.metaio.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Junaio cloud plugin AR view activity -->
        <activity
            android:name=".GazeDisplay.Demos.metaio.MainActivity"
            android:label="@string/app_name"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Live" >
        </activity>
        <activity
            android:name="com.metaio.cloud.plugin.view.POIDetailDialog"
            android:theme="@style/Theme.POIDialog" >
        </activity>
        <activity
            android:name="com.metaio.cloud.plugin.view.WebViewActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

    </application>

</manifest>
